EmptyWindow.xcodeproj/project.xcworkspace/xcshareddata
EmptyWindow.xcodeproj/project.xcworkspace/xcuserdata
EmptyWindow.xcodeproj/xcshareddata
EmptyWindow.xcodeproj/xcuserdata
.project
.gradle
.settings
app/.externalNativeBuild
app/.idea
local.properties
